version: 2.1
jobs:
  build:
    docker:
      - image: fpco/stack-build:lts
    steps:
      - checkout
      - restore_cache:
          # Read about caching dependencies: https://circleci.com/docs/2.0/caching/
          name: Restore Cached Dependencies
          keys:
            - panrec-{{ checksum "panrec.cabal" }}
      - run:
          name: Execute test runner
          command: ./scripts/test
      - run:
          name: Install package
          command: stack --no-terminal install
      - save_cache:
          name: Cache Dependencies
          key: panrec-{{ checksum "panrec.cabal" }}
          paths:
            - "/root/.stack"
            - ".stack-work"
      - store_artifacts:
          # Upload test summary for display in Artifacts: https://circleci.com/docs/2.0/artifacts/
          path:  ~/.local/bin/panrec
          destination: panrec
      - run:
          name: Copy executable to current directory
          command: cp $(find -name panrec -type f -executable | head -n 1) ./
      - persist_to_workspace:
          root: /root/project
          paths: ./panrec

  publish-image:
    docker:
      - image: docker:18.09.3
    steps:
      - checkout
      - setup_remote_docker:
          version: 18.09.3
      - attach_workspace:
          at: /root/project
      - run:
          name: Echo directory contents after attaching
          command: ls
      - run:
          name: Build docker image
          command: docker build -t jisantuc/panrec ./
      - run:
          name: Publish images
          command: |
            docker login --username $DOCKER_USER --password $DOCKER_PASS
            IMAGE_TAG=${CIRCLE_TAG/v/''}
            docker tag jisantuc/panrec jisantuc/panrec:$IMAGE_TAG
            docker push jisantuc/panrec:$IMAGE_TAG
            docker tag jisantuc/panrec jisantuc/panrec:latest
            docker push jisantuc/panrec:latest

workflows:
  version: 2
  build-and-publish:
    jobs:
      - build
      - publish-image:
          requires:
            - build
          filters:
            tags:
              only:
                - /^v(.*)/
            branches:
              only:
                - feature/js/publish-on-all-tagged-commits
